<div class="outer-container">
    <div class="login-container">
        <div class="form-container">
            <h2>Inicia sesión</h2>
            <form>
                <div class="input-group">
                    <input type="email" id="email" placeholder="Tipo de documento" name="email" required />
                </div>
                <div class="input-group">
                    <input type="password" id="password" placeholder="Número de documento" name="password" required />
                </div>
                <div class="input-group">
                    <input type="date" id="birthdate" placeholder="Fecha de nacimiento" name="birthdate" required />
                </div>
                <div class="extra-options">
                    <label class="rememberMe">
                        <input type="checkbox">
                        <p>Recuerdame</p>
                    </label>
                </div>
                <div class="button">
                    <app-button type="submit" label="Ingresar"></app-button>
                </div>
            </form>
        </div>
        <div class="welcome-container">
            <img src="https://img.freepik.com/vector-premium/vista-superior-medicos-enfermeras-felices-pie-mirando-camara_218660-342.jpg?w=740" alt="Welcome Image">
        </div>
    </div>
</div>
