button {
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #011A5D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

button:hover {
    background-color: #001245;
}

button:disabled {
    background-color: #7382A6; 
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

button:disabled:active {
    background-color: #7382A6; 
    box-shadow: none;
}

button:active {
    background-color: #000E34; 
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

button:focus-visible {
    outline: 2px solid #001245; 
}
