header {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea verticalmente en la parte superior */
    padding: 20px; /* Espaciado alrededor de la imagen */
    background-color: #f8f9fa; /* Color de fondo opcional */
}

.logo-container {
    width: auto; /* Ajusta automáticamente según el contenido */
}

.logo {
    width: 150px; /* Establece el ancho fijo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
}
